{% extends "base.html" %}
{% load static %}
{% load account %}
{% block head %}

{% endblock %}
{% block content %}
    <app-root></app-root>

{#    <script type="text/javascript" src="{% static '/apps/inline.bundle.js'%}"></script>#}
{#    <script type="text/javascript" src="{% static '/apps/polyfills.bundle.js'%}"></script>#}
{#    <script type="text/javascript" src="{% static '/apps/vendor.bundle.js'%}"></script>#}
{#    <script type="text/javascript" src="{% static '/apps/file-manager.bundle.js'%}"></script>#}

    <script type="text/javascript" src="{% static '/apps/profile/inline.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static '/apps/profile/polyfills.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static '/apps/profile/vendor.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static '/apps/profile/main.bundle.js'%}"></script>

{% endblock %}
