<div>
    <div class="c-file-manager">

        <h1>
            File Manager
        </h1>
        <div class="c-file-manager-nav">
            <a href="javascript:void(0);" (click)="showList()">List</a>
            <a href="javascript:void(0);" (click)="showUpload()">Upload</a>
        </div>
        <ng-container [ngSwitch]="mode">
            <list-component *ngSwitchCase="'list'"></list-component>
            <upload-component *ngSwitchCase="'upload'"></upload-component>
            <details-component *ngSwitchCase="'details'"></details-component>

        </ng-container>

    </div>
</div>


