{% extends "base.html" %}
{% load static %}
{% load account %}
{% block head %}

{% endblock %}
{% block content %}

    <script>
    $(document).ajaxSend(function (event, jqxhr, settings) {
        jqxhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
    });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/vendor/jquery.ui.widget.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/jquery.iframe-transport.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.2/js/jquery.fileupload.js"></script>

    <app-root></app-root>

    <script type="text/javascript" src="{% static '/apps/file-manager/inline.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static '/apps/file-manager/polyfills.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static '/apps/file-manager/vendor.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static '/apps/file-manager/main.bundle.js'%}"></script>

{% endblock %}